In [ ]:
!pip install numpy
!pip install yahooquery

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/douglasnacl/.local/lib/python3.8/site-packages (1.19.5)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yfinance in /home/douglasnacl/.local/lib/python3.8/site-packages (0.1.70)
Requirement already satisfied: requests>=2.26 in /home/douglasnacl/.local/lib/python3.8/site-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in /home/douglasnacl/.local/lib/python3.8/site-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /home/douglasnacl/anaconda3/lib/python3.8/site-packages (from yfinance) (1.2.4)
Requirement already satisfied: numpy>=1.15 in /home/douglasnacl/.local/lib/python3.8/site-packages (from yfinance) (1.19.5)
Requirement already satisfied: lxml>=4.5.1 in /home/douglasnacl/anaconda3/lib/python3.8/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/douglasnacl/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.0->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/douglasnacl/anaconda3/lib/python3.8/site-packages (from pandas>=0.24.0->yfinance) (2021.1)
Requirement already satisfied: six>=1.5 in /home/douglasnacl/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/douglasnacl/anaconda3/lib/python3.8/site-packages (from requests>=2.26->yfinance) (2020.12.5)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/douglasnacl/.local/lib/python3.8/site-packages (from requests>=2.26->yfinance) (2.0.11)
Requirement already satisfied: idna<4,>=2.5 in /home/douglasnacl/anaconda3/lib/python3.8/site-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/douglasnacl/anaconda3/lib/python3.8/site-packages (from requests>=2.26->yfinance) (1.26.4)

# Lista de frameworks e bibliotecas

$$ \frac {x_1}{x_2} $$

In [2]:
import numpy as np
import pandas as pd
from yahooquery import Ticker

# Extraindo dados diarios

In [27]:
stock_info = Ticker('MSFT', period='max')

In [36]:
stock_hist = stock_info.history()
stock_hist

                        close        open         low        high    volume  \
symbol date
MSFT   2022-01-03  334.750000  335.350006  329.779999  338.000000  28865100
       2022-01-04  329.010010  334.829987  326.119995  335.200012  32674300
       2022-01-05  316.380005  325.859985  315.980011  326.070007  40054300
       2022-01-06  313.880005  313.149994  311.489990  318.700012  39646100
       2022-01-07  314.040009  314.149994  310.089996  316.500000  32674000
       2022-01-10  314.269989  309.489990  304.690002  314.720001  44289500
       2022-01-11  314.980011  313.380005  309.890015  316.609985  29386800
       2022-01-12  318.269989  319.670013  317.079987  323.410004  34372200
       2022-01-13  304.799988  320.470001  304.000000  320.880005  45366000
       2022-01-14  310.200012  304.250000  303.750000  310.820007  39823500
       2022-01-18  302.649994  304.070007  301.739990  309.799988  42333200
       2022-01-19  303.329987  306.290009  302.700012  313.910004  45933900
       2022-01-20  301.600006  309.070007  301.140015  311.649994  35380700
       2022-01-21  296.029999  302.690002  295.609985  304.109985  57984400
       2022-01-24  296.369995  292.200012  276.049988  297.109985  85731500
       2022-01-25  288.489990  291.519989  285.170013  294.989990  69838900
       2022-01-26  296.709991  307.989990  293.029999  308.500000  90428900
       2022-01-27  299.839996  302.660004  297.929993  307.299988  53481300
       2022-01-28  308.260010  300.230011  294.450012  308.480011  49743700
       2022-01-31  310.980011  308.950012  306.369995  312.380005  46444500
       2022-02-01  308.760010  310.410004  305.130005  310.630005  40894300
       2022-02-02  313.459991  309.630005  308.880005  315.119995  36636000
       2022-02-03  301.250000  309.489990  299.959991  311.230011  43730000
       2022-02-04  305.940002  300.209991  299.970001  308.799988  35070300

                     adjclose
symbol date
MSFT   2022-01-03  334.750000
       2022-01-04  329.010010
       2022-01-05  316.380005
       2022-01-06  313.880005
       2022-01-07  314.040009
       2022-01-10  314.269989
       2022-01-11  314.980011
       2022-01-12  318.269989
       2022-01-13  304.799988
       2022-01-14  310.200012
       2022-01-18  302.649994
       2022-01-19  303.329987
       2022-01-20  301.600006
       2022-01-21  296.029999
       2022-01-24  296.369995
       2022-01-25  288.489990
       2022-01-26  296.709991
       2022-01-27  299.839996
       2022-01-28  308.260010
       2022-01-31  310.980011
       2022-02-01  308.760010
       2022-02-02  313.459991
       2022-02-03  301.250000
       2022-02-04  305.940002

In [82]:
stock_hist.to_csv('stock_hist.csv')
pd.read_csv('stock_hist.csv')

,symbol,date,close,open,low,high,volume,adjclose
0,MSFT,2022-01-03,334.750000,335.350006,329.779999,338.000000,28865100,334.750000
1,MSFT,2022-01-04,329.010010,334.829987,326.119995,335.200012,32674300,329.010010
2,MSFT,2022-01-05,316.380005,325.859985,315.980011,326.070007,40054300,316.380005
3,MSFT,2022-01-06,313.880005,313.149994,311.489990,318.700012,39646100,313.880005
4,MSFT,2022-01-07,314.040009,314.149994,310.089996,316.500000,32674000,314.040009
5,MSFT,2022-01-10,314.269989,309.489990,304.690002,314.720001,44289500,314.269989
6,MSFT,2022-01-11,314.980011,313.380005,309.890015,316.609985,29386800,314.980011
7,MSFT,2022-01-12,318.269989,319.670013,317.079987,323.410004,34372200,318.269989
8,MSFT,2022-01-13,304.799988,320.470001,304.000000,320.880005,45366000,304.799988
9,MSFT,2022-01-14,310.200012,304.250000,303.750000,310.820007,39823500,310.200012
10,MSFT,2022-01-18,302.649994,304.070007,301.739990,309.799988,42333200,302.649994
11,MSFT,2022-01-19,303.329987,306.290009,302.700012,313.910004,45933900,303.329987
12,MSFT,2022-01-20,301.600006,309.070007,301.140015,311.649994,35380700,301.600006
13,MSFT,2022-01-21,296.029999,302.690002,295.609985,304.109985,57984400,296.029999
14,MSFT,2022-01-24,296.369995,292.200012,276.049988,297.109985,85731500,296.369995
15,MSFT,2022-01-25,288.489990,291.519989,285.170013,294.989990,69838900,288.489990
16,MSFT,2022-01-26,296.709991,307.989990,293.029999,308.500000,90428900,296.709991
17,MSFT,2022-01-27,299.839996,302.660004,297.929993,307.299988,53481300,299.839996
18,MSFT,2022-01-28,308.260010,300.230011,294.450012,308.480011,49743700,308.260010
19,MSFT,2022-01-31,310.980011,308.950012,306.369995,312.380005,46444500,310.980011
20,MSFT,2022-02-01,308.760010,310.410004,305.130005,310.630005,40894300,308.760010
21,MSFT,2022-02-02,313.459991,309.630005,308.880005,315.119995,36636000,313.459991
22,MSFT,2022-02-03,301.250000,309.489990,299.959991,311.230011,43730000,301.250000
23,MSFT,2022-02-04,305.940002,300.209991,299.970001,308.799988,35070300,305.940002

In [85]:
stock_info.INTERVALS

['1m',
 '2m',
 '5m',
 '15m',
 '30m',
 '60m',
 '90m',
 '1h',
 '1d',
 '5d',
 '1wk',
 '1mo',
 '3mo']

In [86]:
stock_all = Ticker('MSFT', period='max', interval='1m')

In [88]:
stock_all.history()

                         high        open       close    volume         low  \
symbol date
MSFT   2022-01-03  338.000000  335.350006  334.750000  28865100  329.779999
       2022-01-04  335.200012  334.829987  329.010010  32674300  326.119995
       2022-01-05  326.070007  325.859985  316.380005  40054300  315.980011
       2022-01-06  318.700012  313.149994  313.880005  39646100  311.489990
       2022-01-07  316.500000  314.149994  314.040009  32674000  310.089996
       2022-01-10  314.720001  309.489990  314.269989  44289500  304.690002
       2022-01-11  316.609985  313.380005  314.980011  29386800  309.890015
       2022-01-12  323.410004  319.670013  318.269989  34372200  317.079987
       2022-01-13  320.880005  320.470001  304.799988  45366000  304.000000
       2022-01-14  310.820007  304.250000  310.200012  39823500  303.750000
       2022-01-18  309.799988  304.070007  302.649994  42333200  301.739990
       2022-01-19  313.910004  306.290009  303.329987  45933900  302.700012
       2022-01-20  311.649994  309.070007  301.600006  35380700  301.140015
       2022-01-21  304.109985  302.690002  296.029999  57984400  295.609985
       2022-01-24  297.109985  292.200012  296.369995  85731500  276.049988
       2022-01-25  294.989990  291.519989  288.489990  69838900  285.170013
       2022-01-26  308.500000  307.989990  296.709991  90428900  293.029999
       2022-01-27  307.299988  302.660004  299.839996  53481300  297.929993
       2022-01-28  308.480011  300.230011  308.260010  49743700  294.450012
       2022-01-31  312.380005  308.950012  310.980011  46444500  306.369995
       2022-02-01  310.630005  310.410004  308.760010  40894300  305.130005
       2022-02-02  315.119995  309.630005  313.459991  36636000  308.880005
       2022-02-03  311.230011  309.489990  301.250000  43730000  299.959991
       2022-02-04  308.799988  300.209991  305.940002  35070300  299.970001

                     adjclose
symbol date
MSFT   2022-01-03  334.750000
       2022-01-04  329.010010
       2022-01-05  316.380005
       2022-01-06  313.880005
       2022-01-07  314.040009
       2022-01-10  314.269989
       2022-01-11  314.980011
       2022-01-12  318.269989
       2022-01-13  304.799988
       2022-01-14  310.200012
       2022-01-18  302.649994
       2022-01-19  303.329987
       2022-01-20  301.600006
       2022-01-21  296.029999
       2022-01-24  296.369995
       2022-01-25  288.489990
       2022-01-26  296.709991
       2022-01-27  299.839996
       2022-01-28  308.260010
       2022-01-31  310.980011
       2022-02-01  308.760010
       2022-02-02  313.459991
       2022-02-03  301.250000
       2022-02-04  305.940002